.ex-1-square, .ex-2-square, .ex-7-img, .ex-8-img, .ex-9-img{
    transition: 2s;
}

.ex-3-square, .ex-4-square, .ex-5-square{
    transition: 1s;
}

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square:hover{
    border-radius: 100%;
}

.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(.5);
}

.ex-6-img:hover{
    filter: grayscale(1);
}

.ex-7-img:hover{
    filter: grayscale(.7) sepia(.5);
}

.ex-8-img:hover{
    filter: grayscale(.7) sepia(.5);
    border-radius: 25px;
}

.ex-9-img:hover{
    filter: grayscale(.7) sepia(.5);
    border-radius: 25px;
    transform: scale(1.5);
}

.ex-10-icon{
    animation: youspinmeright 1s linear infinite;
}

@keyframes youspinmeright{
    0%{
        transform: rotate(1turn);
    }
}

.ex-11-icon:hover{
    animation: spinAlittlebit 2s linear;
}

@keyframes spinAlittlebit{
    0%{transform: rotate(0);}
    90%{transform: rotate(360deg);}
    100%{transform: rotate(0);}
}

.ex-11-icon:hover{
    animation: spinAlittlebit 2s linear;
}

.ex-12-button:hover .ex-12-top-white{
    animation: topwhite 2s linear;
}

@keyframes topwhite{
    50%{left: calc(100% - 60px);}
    100%{right: 100%;}
}